@tailwind base;
@tailwind components;
@tailwind utilities;
@import "/creative-navbar/src/app/index.css";

:root {
    background-color: #1A1A1A;
}

@font-face {
    font-family: "PPMori";
    src: url("/font/PPMori.otf") format("opentype");
}

h1 {
    font-family: "PPMori";
}

#dropdown-link:hover #background {
    filter: blur(100px);
}
